<body>

<% if params[:success] %>
  <div class="alert alert-success" role="alert">
    Votre potin a été créé avec succès !
  </div>
<% end %>

<div class="jumbotron">
        <div class="container text-center justify-content-center">
          <h1 class="display-3">Bienvenue sur notre magnifique site de potins !</h1>
          <p><%= link_to "Cliquez ici pour creer votre propre potin.", new_gossip_path, :class => "btn btn-dark"%></p>
        </div>
      </div>


<div class="container text-center justify-content-center">
<h2>Voici la liste de tous les potins : </h2><br/>
    <%@all_gossips.each do |elem|%>
    <%=elem.user.first_name %> : <%= elem.title%>
    <br/> <%= link_to "Cliquez ici pour lire le potin.", gossip_path(elem.id), :class => " btn btn-dark"%> <br/>
    <%end%>
</div>
</body>
